{% macro designCard(design, view_tailor_btn = true) %}
  <div class="homec-property">
    <div class="homec-property__head">
      <img
        loading="lazy"
        data-bs-toggle="modal"
        data-bs-target="#imageModal"
        class="outfit-image"
        src="{{ design.image }}"
        alt="{{ design.title }}"
      />
      <!--Removed tailor and favorite badges-->
    </div>
    <div class="homec-property__body">
      <div class="homec-property__topbar">
        <div class="homec-property__price">
          <span>Price: </span> NGN {{ design.price | formatPrice }}
        </div>
      </div>
      <h3 class="homec-agent__title" style="font-size: 20px">
        {{ design.title }}
      </h3>
      {% if view_tailor_btn %}
        <a
          href="/tailors/profile/{{ design.tailor }}"
          class="homec-btn homec-btn__second small-btn"
          style="font-size: 18px;"
        >
          <span>View Tailor Profile</span>
        </a>
      {% endif %}
    </div>
  </div>
{% endmacro %}
