{% extends "base.njk" %}

{% block app %}
  {% include "includes/preloader.njk" %}

  <section>
    <header>
      <h1>Client Requests - {{ status }}</h1>
      <h4>{{ client.firstName }} {{ client.lastName }}</h4>
    </header>

    {% for clientRequest in clientRequests %}
      <pre>{{ clientRequest | dump(2) }}</pre>
      <hr />
      <br />
    {% endfor %}
  </section>
{% endblock %}
