{% extends "base.njk" %}

{% block app %}
  {% include "includes/preloader.njk" %}

  <section>
    <header>
      <h1>Orders - {{ status }}</h1>
      <h4>{{ client.firstName }} {{ client.lastName }}</h4>
    </header>

    {% for order in orders %}
      <pre>{{ order | dump(2) }}</pre>
      <hr />
      <br />
    {% endfor %}
  </section>
{% endblock %}
