{% extends "base.njk" %}

{% block app %}
  {% include "includes/preloader.njk" %}

  <section>

    <header>
      <h1>Profile</h1>
      <h4>{{ client.firstName }} {{ client.lastName }}</h3>
    </header>

    <p>
      <pre>{{ client | dump(2) }}</pre>
    </p>

  </section>
{% endblock %}
