{% import "macros/dashboard.njk" as dashboard %}
{% extends "pages/dashboard/dashboard-template.njk" %}

{% block sidebar %}
  {{ dashboard.sidebar("profile", "client") }}
{% endblock %}

{% block content %}
  {{ dashboard.header("Profile", client) }}
  <section>
    <pre>{{ client | dump(2) }}</pre>
  </section>
{% endblock %}
