{% import "macros/dashboard.njk" as dashboard %}
{% extends "pages/dashboard/dashboard-template.njk" %}

{% block sidebar %}
  {{ dashboard.sidebar("client-requests") }}
{% endblock %}

{% block content %}

  {{ dashboard.header("Client Requests", tailor) }}
  {{
    dashboard.navigationTabs(
      "/dashboard/tailor/client-requests",
      ["pending", "rejected", "accepted"],
      status
    )
  }}

  <table class="dtms-table">
    <thead class="dtms-table-head">
      <tr>
        <th class="dtms-table-title dtms-table-cell">Design</th>
        <th class="dtms-table-title dtms-table-cell">Title</th>
        <th class="dtms-table-title dtms-table-cell">Status</th>
        <th class="dtms-table-title dtms-table-cell">View</th>
      </tr>
    </thead>

    <tbody class="dtms-table-body">
      {% for item in crData %}
        <tr class="dtms-table-row">
          <td class="dtms-table-cell">
            <img
              class="dtms-table-image"
              src="{{ item.design.image }}"
              alt="#"
            />
          </td>
          <td class="dtms-table-cell">{{ item.design.title }}</td>
          <td class="dtms-table-cell">
            <button
              class="dtms-core-button dtms-status-indicator dtms-{{ status }}-bg"
            >
              {{ status }}
            </button>
          </td>
          <td class="dtms-table-cell">
            <a
              href="/dashboard/tailor/client-requests/request-details/{{ item.clientRequest.uid }}"
            >
              <button class="dtms-core-button dtms-primary-bg">
                view request
              </button>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <style></style>
{% endblock %}
