{% macro design(design, view_tailor_btn = true) %}
  <div class="homec-property">
    <div class="homec-property__head">
      <img
        loading="lazy"
        data-bs-toggle="modal"
        data-bs-target="#imageModal"
        class="outfit-image"
        style="object-fit: cover;"
        src="{{ design.image }}"
        alt="{{ design.description }}"
      />
      <!--Removed tailor and favorite badges-->
    </div>
    <div class="homec-property__body">
      <div class="homec-property__topbar">
        <div class="homec-property__price">
          <span>Price: </span> NGN {{ design.price | formatPrice }}
        </div>
      </div>
      <h3 class="homec-agent__title">
        {{ design.description | truncateText("...", 22) }}
      </h3>
      {% if view_tailor_btn %}
        <a
          href="/tailors/profile/{{ design.tailor }}"
          class="homec-btn homec-btn__second small-btn"
          style="font-size: 18px;"
        >
          <span>View Tailor Profile</span>
        </a>
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% macro review(review) %}
  <div class="homec-testimonial homec-testimonial--v2">
    <div class="homec-testimonial__main">
      <ul class="homec-rating list-none mg-btm-15">
        {% for i in range(0, (review.rating / 2) | round) %}
          <li><i class="fa-solid fa-star"></i></li>
        {% endfor %}
        <span class="homec-primary-color" style="font-weight: 600;"
          >{{ review.rating }}/10</span
        >
      </ul>
      <span class="homec-primary-color">{{ review.createdAt }} </span>
      <p class="homec-testimonial__text">{{ review.text }}</p>
      <div class="homec-testimonial__bottom mg-top-10">
        <div class="homec-testimonial__author">
          <div class="homec-testimonial__author--info">
            <h5 class="homec-testimonial__author--title">
              {{ review.client.firstName }}
              {{ review.client.lastName }}
            </h5>
            <p class="homec-testimonial__author--position">Client</p>
          </div>
        </div>
      </div>
    </div>
    <div class="homec-testimonial__img">
      <div class="homec-testimonial__quote">
        <i class="fa-solid fa-quote-left"></i>
      </div>
      <img
        loading="lazy"
        src="{{ review.client.image }}"
        alt="
          photo of 
          {{ review.client.firstName }} 
          {{ review.client.lastName }}"
      />
    </div>
  </div>
{% endmacro %}

{% macro dashboard_sidebar(usertype, active) %}
  <aside class="sidebar">
    <a href="#" class="sidebar-logo">
      <img src="/img/tms_logo-without-background.png" alt="#" />
    </a>

    {%
      set sidebar_items = {
        client: [
          "home",
          "orders",
          "requests",
          "invoices",
          "reviews",
          "profile",
          "change-password",
          "logout"
        ],
        tailor: [
          "home",
          "orders",
          "requests",
          "new design",
          "invoices",
          "reviews",
          "profile",
          "change-password",
          "logout"
        ]
      }
    %}

    {% for item in sidebar_items[usertype] %}
      <a
        class="sidebar-item"
        href="/dashboard/{{ usertype }}/{{ item }}"
        {{ "sidebar-active" if item === active }}
      >
        {{ item | dehyphenateAndCapitalize }}
      </a>
    {% endfor %}
  </aside>
  <style>
    .sidebar {
      background: #e5e5f4;
      border-right: 5px solid rgba(113, 102, 240, 0.6);

      display: flex;
      flex-direction: column;
    }

    .sidebar-logo {
      padding: 5px 10px;
    }

    .sidebar-logo img {
      width: 55%;
    }

    .sidebar-item {
      width: 100%;
      cursor: pointer;

      color: #7e8ba0;
      font-size: 16px;
      font-weight: 500;

      padding: 20px 30px;
    }

    [sidebar-active] {
      color: white;
      background: rgba(113, 102, 240, 0.6);
    }
  </style>
{% endmacro %}

{% macro dashboard_content(main_header, sub_header) %}
  <main class="dashboard-content">
    <header>
      <h2 class="homec-dashboard__heading m-0 main-header">
        {{ main_header }}
      </h2>
      <p class="sub-header">{{ sub_header }}</p>
    </header>

    {{ caller() }}
  </main>
  <style>
    .dashboard-content {
      overflow-y: scroll;
      padding: 40px 60px;
      display: flex;
      flex-direction: column;
    }

    .dashboard-content .main-header {
      font-size: 35px;
    }
  </style>
{% endmacro %}
