{# <section class="ecom-wc__form col-lg-6 col-12" id="signup-3"> #}
<section class="ecom-wc__form" id="signup-3">
  <div class="ecom-wc__form-inner">
    <h3 class="ecom-wc__form-title ecom-wc__form-title__one">
      To Complete Account Creation <span>fill in your measurements</span>
    </h3>
    <form class="ecom-wc__form-main p-0" hx-signup-form-3>
      <div class="form-group" id="measurements-form">
        <h4 class="homec-modal-form__middle mg-top-20">Measurements</h4>
        <div class="row">
          {% for measurement in MEASUREMENTS %}
            <div class="col-lg-3 col-md-6 col-12">
              <div class="form-group homec-form-input">
                <label
                  for="{{ measurement }}"
                  class="ecom-wc__form-label mg-btm-10"
                >
                  {{ measurement | dehyphenateAndCapitalize }}
                </label>
                <div class="form-group__input">
                  <input
                    class="ecom-wc__form-input"
                    type="text"
                    id="{{ measurement }}"
                    name="measurement[{{ measurement }}]"
                    placeholder="0 in"
                  />
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="form-group" id="socials-form">
        <h4 class="homec-modal-form__middle mg-top-20">Socials</h4>
        <div class="row">
          {% for social in SOCIALS %}
            <div class="col-lg-6 col-md-6 col-12">
              <div class="form-group homec-form-input">
                <label for="{{ social }}" class="ecom-wc__form-label mg-btm-10">
                  {{ social | dehyphenateAndCapitalize }}
                </label>
                <div class="form-group__input">
                  <input
                    class="ecom-wc__form-input"
                    type="text"
                    id="{{ social }}"
                    name="socials[{{ social }}]"
                    placeholder="{{ social }} link"
                  />
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="form-group" id="default-form">
        <h4 class="homec-modal-form__middle mg-top-20" style="color: red">
          User type not selected
        </h4>
        <p>
          please specify whether you are a user or tailor
          <a
            href="#signup-1"
            style="color: blue; text-decoration-line: underline;"
            >here</a
          >
        </p>
      </div>

      <div class="form-group mg-top-50">
        <div class="row">
          <div
            class="col-lg-6 col-md-6 col-12 ecom-wc__button ecom-wc__button--bottom"
          >
            <a
              class="homec-btn homec-btn__second homec-property-ag__button"
              href="#signup-2"
              style="background: rgba(130, 102, 240, 0.1);"
              ><span>Previous Step</span></a
            >
          </div>
          <div
            class="col-lg-6 col-md-6 col-12 ecom-wc__button ecom-wc__button--bottom"
          >
            <a
              class="homec-btn homec-btn__second homec-property-ag__button"
              hx-boost="true"
              hx-post="/auth/signup"
              hx-include="[hx-signup-form-1], [hx-signup-form-2]"
              hx-target="[hx-validation-modal]"
              ><span>Finish</span></a
            >
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
