{% import "templates.njk" as templates %}
{% extends "view-base.njk" %}

{% block app %}
  <section id="hero" class="homec-hero homec-hero--v3 p-relative">
    <div class="homec-hero-group">
      <!-- background (purple boxed)of pages -->
      <img
        loading="lazy"
        class="homec-hero-group-img homec-hero-group-img__v1"
        src="/img/hero-shape-group.svg"
        alt="#"
      />
      <img
        loading="lazy"
        class="homec-hero-group-img homec-hero-group-img__v2"
        src="/img/hero-shape-group-2.svg"
        alt="#"
      />
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="homec-hero__inner homec-hero__inner--v2">
            <div class="homec-hero__content homec-hero__content--v2">
              <h1 class="homec-hero__title homec-hero__title--v2">
                Elevating Your Tailoring Experience
              </h1>
              <ul
                class="homec-iconic-list homec-iconic-list--v3 list-none mg-top-30"
              >
                <li>
                  <i class="fa-solid fa-check"></i>Personalized Tailoring
                  Experience
                </li>
                <li>
                  <i class="fa-solid fa-check"></i>Effective Process
                  Organization and Management
                </li>
                <li><i class="fa-solid fa-check"></i>Tailor-Client Harmony</li>
              </ul>
              <a href="/catalog?offset=0&limit=4" class="homec-btn"
                ><span>See All Designs</span></a
              >
            </div>
            <div
              class="homec-slider-property-slider homec-slider-property-slider--v2"
            >
              <img loading="lazy" src="/img/landing-page-svg.jpg" alt="#" />
            </div>
          </div>
          <!-- I took out the filter section immediately after the first section of the landing page-->
        </div>
      </div>
    </div>
  </section>

  <!-- Image Filter Section-->
  <section class="homec-features pd-top-120 pd-btm-120">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-3 col-md-6 col-12 mg-top-30"
          data-aos="fade-in"
          data-aos-delay="400"
        >
          <a
            href="/catalog?offset=0&limit=4&match-gender=male"
            class="homec-features__single"
          >
            <div class="homec-features__icon">
              <img
                loading="lazy"
                src="/img/menswear.png"
                alt="/catalog?offset=0&limit=4&match-gender=male&match-group=adults"
              />
            </div>
            <div class="homec-features__content">
              <h3 class="homec-features__title">Menswear</h3>
            </div>
          </a>
        </div>
        <div
          class="col-lg-3 col-md-6 col-12 mg-top-30"
          data-aos="fade-in"
          data-aos-delay="600"
        >
          <a
            href="/catalog?offset=0&limit=4&match-gender=female"
            class="homec-features__single"
          >
            <div class="homec-features__icon">
              <img
                loading="lazy"
                src="/img/womenswear.png"
                alt="/catalog?offset=0&limit=4&match-gender=female&match-group=adults"
              />
            </div>
            <div class="homec-features__content">
              <h3 class="homec-features__title">Womenswear</h3>
            </div>
          </a>
        </div>
        <div
          class="col-lg-3 col-md-6 col-12 mg-top-30"
          data-aos="fade-in"
          data-aos-delay="800"
        >
          <a
            href="/catalog?offset=0&limit=4&match-group=kids"
            class="homec-features__single"
          >
            <div class="homec-features__icon">
              <img
                loading="lazy"
                src="/img/kidswear.png"
                alt="/catalog?offset=0&limit=4&match-group=kids"
              />
            </div>
            <div class="homec-features__content">
              <h3 class="homec-features__title">Kidswear</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!--Designs Section-->
  <section
    class="homec-properties homec-bg-cover  pd-top-120 pd-btm-120"
    style="background-image: url('/img/bg-shape-four.svg');"
  >
    <div class="homec-shape">
      <div
        class="homec-bg homec-bg__opacity"
        style="background-image: url(img/bg-shape-four.svg);"
      ></div>
      <!--background concept for designs section on landing page-->
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="homec-flex homec-flex__section mg-btm-60">
            <div class="homec-section__head m-0 mg-top-10">
              <span
                class="homec-section__badge homec-section__badge--small homec-primary-color  m-0"
                data-aos="fade-in"
                data-aos-delay="300"
                >View All Tailoring Services</span
              >
              <h2
                class="homec-section__title text-white"
                data-aos="fade-in"
                data-aos-delay="400"
              >
                Featured Designs
              </h2>
            </div>
            <div
              class="homec-section__btn mg-top-30"
              data-aos="fade-right"
              data-aos-delay="500"
            >
              <a href="/catalog?offset=0&limit=4" class="homec-btn"
                ><span>See All Designs</span></a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="swiper mySwiper homec-slider-property pd-btm-30 loading">
        <div class="swiper-wrapper">
          {% for design in designs %}
            <div class="swiper-slide">{{ templates.design(design) }}</div>
          {% endfor %}
        </div>
      </div>
      <div
        class="swiper-pagination swiper-pagination__property mg-top-30"
      ></div>
    </div>
  </section>

  <!--About Section-->
  <section
    class="homec-about pd-top-100 pd-btm-130"
    style="overflow-x: hidden;"
  >
    <div class="homec-shape">
      <!--page background animations-->
      <div class="homec-shape-single homec-shape-1">
        <img loading="lazy" src="/img/anim-shape-1.svg" alt="#" />
      </div>
      <div class="homec-shape-single homec-shape-2">
        <img loading="lazy" src="/img/anim-shape-2.svg" alt="#" />
      </div>
      <div class="homec-shape-single homec-shape-3">
        <img loading="lazy" src="/img/anim-shape-3.svg" alt="#" />
      </div>
      <div class="homec-shape-single homec-shape-4">
        <img loading="lazy" src="/img/anim-shape-1.svg" alt="#" />
      </div>
      <div class="homec-shape-single homec-shape-5">
        <img loading="lazy" src="/img/anim-shape-2.svg" alt="#" />
      </div>
      <div class="homec-shape-single homec-shape-6">
        <img loading="lazy" src="/img/anim-shape-3.svg" alt="#" />
      </div>
    </div>
    <div class="container homec-container-medium">
      <div class="row  homec-container-medium__row align-items-center">
        <div
          class="col-lg-7 col-12 homec-about__column--one mg-top-30"
          data-aos="fade-right"
          data-aos-delay="400"
        >
          <div class="homec-image-group">
            <div class="homec-image-group__single">
              <img loading="lazy" src="/img/aboutpicnew1.jpg" alt="#" />
              <img loading="lazy" src="/img/aboutpicnew2.jpg" alt="#" />
            </div>
            <div class="homec-image-group__content">
              <h4 class="homec-image-group__title">!</h4>
              <p
                class="homec-image-group__text"
                style="font-size: large; color: whitesmoke;"
              >
                Your Personalized Fashion and Tailoring Organizational Tool
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-12 homec-about__column--two mg-top-20">
          <div class="homec-about-content">
            <div class="homec-section__head">
              <div class="homec-section__shape">
                <span
                  class="homec-section__badge homec-section__badge--shape"
                  style="background-image:url('/img/section-shape.svg')"
                  >About D-TMS</span
                >
              </div>
              <h2 class="homec-section__title" style="font-size: 35px;">
                Redefining The Art of Tailoring Managment and Organization
              </h2>
            </div>
            <div class="homec-about-content__inner mg-top-20">
              <p class="homec-about-content__text" style="text-align: justify;">
                Our mission is to reinvent the Nigerian tailoring industry by
                connecting skilled tailors with individuals seeking unique,
                personalized garments. We strive to provide our users with a
                collaborative, managerial and organizational platform that helps
                them track their tailoring endeavors effectively.
              </p>
              <div class="homec-focus-content homec-border mg-top-15">
                <p>
                  Creativity Meets Craftsmanship with a Sprinkle of
                  Organizational Grace
                </p>
              </div>
              <ul class="homec-iconic-list list-none mg-top-20">
                <li>
                  <i class="fa-solid fa-check"></i>Tailor and Client-Centric.
                </li>
                <li>
                  <i class="fa-solid fa-check"></i>Innovative Organization and
                  Management.
                </li>
              </ul>
              <div class="mg-top-20">
                <a href="signup.html" class="homec-btn"
                  ><span>Sign Up Today!</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Reviews Section -->
  <section
    class="homec-bg-third-color homec-bg-cover  pd-top-120 pd-btm-120"
    style="background-image: url('/img/bg-shape-one.svg');"
  >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="homec-section__head text-center mg-btm-60">
            <span
              class="homec-section__badge homec-primary-color homec-section__badge--small m-0 aos-init aos-animate"
              data-aos="fade-in"
              data-aos-delay="300"
              >Customer Reviews</span
            >
            <h2
              class="homec-section__title aos-init aos-animate"
              data-aos="fade-in"
              data-aos-delay="400"
            >
              What Do Our Customers Say?
            </h2>
          </div>
        </div>
      </div>
      <div class="row mg-top-10">
        <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-12">
          <div class="swiper mySwiper homec-slider-testimonial--v2 loading">
            <div class="swiper-wrapper">
              {% for review in reviews %}
                <div class="swiper-slide">{{ templates.review(review) }}</div>
              {% endfor %}
            </div>
          </div>
          <div class="swiper-pagination swiper-pagination__testimonial"></div>
        </div>
      </div>
    </div>
  </section>

  <!-- Why Choose Us -->
  <section
    class="homec-bg-primary-color pd-top-110 pd-btm-110"
    style="margin-bottom: 100px;"
  >
    <div
      class="homec-bg homec-bg__opacity"
      style="background-image: url(img/features-list-bg.svg);"
    ></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-12 mg-btm-40">
          <div class="homec-section__head section-white text-center">
            <p class="text-white" data-aos="fade-in" data-aos-delay="300"></p>
            <h2
              class="homec-section__title"
              data-aos="fade-in"
              data-aos-delay="400"
            >
              Why Choose Us?
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="homec-features-list">
            <div
              class="homec-features-list__single"
              data-aos="fade-in"
              data-aos-delay="400"
            >
              <div class="homec-features-list__head">
                <div class="homec-features-list__first">
                  <div class="homec-features-list__icon">
                    <img
                      loading="lazy"
                      src="/img/user-experience.png"
                      style="height: 40px; width: 40px;"
                      alt="#"
                    />
                    <h4 class="homec-features-list__number">01</h4>
                  </div>
                </div>
                <div
                  class="homec-features-list__arrow homec-features-list__arrow--one"
                >
                  <img loading="lazy" src="/img/arrow-icon.svg" alt="#" />
                </div>
              </div>
              <div class="homec-features-list__body">
                <h4 class="homec-features-list__title">
                  Tailor-Client Convenience
                </h4>
                <p class="homec-features-list__text">
                  Tailor and Client-Centric Approach
                </p>
              </div>
            </div>
            <div
              class="homec-features-list__single"
              data-aos="fade-in"
              data-aos-delay="400"
            >
              <div class="homec-features-list__head">
                <div class="homec-features-list__first">
                  <div class="homec-features-list__icon">
                    <img
                      loading="lazy"
                      src="/img/user-friendly.png"
                      style="height: 40px; width: 40px;"
                      alt="#"
                    />
                    <h4 class="homec-features-list__number">02</h4>
                  </div>
                </div>
                <div
                  class="homec-features-list__arrow homec-features-list__arrow--one"
                >
                  <img loading="lazy" src="/img/arrow-icon.svg" alt="#" />
                </div>
              </div>
              <div class="homec-features-list__body">
                <h4 class="homec-features-list__title">
                  User-Friendly and Simple
                </h4>
                <p class="homec-features-list__text">
                  Easy Interface and Navigation
                </p>
              </div>
            </div>
            <div
              class="homec-features-list__single"
              data-aos="fade-in"
              data-aos-delay="600"
            >
              <div class="homec-features-list__head">
                <div class="homec-features-list__first">
                  <div class="homec-features-list__icon">
                    <img
                      loading="lazy"
                      src="/img/personalization.png"
                      style="height: 40px; width: 40px;"
                      alt="#"
                    />
                  </div>
                  <h4 class="homec-features-list__number">03</h4>
                </div>
                <div
                  class="homec-features-list__arrow homec-features-list__arrow--two"
                >
                  <img loading="lazy" src="/img/arrow-icon.svg" alt="#" />
                </div>
              </div>
              <div class="homec-features-list__body">
                <h4 class="homec-features-list__title">
                  System Personalization
                </h4>
                <p class="homec-features-list__text">
                  Unique Experiences Provided for Each User
                </p>
              </div>
            </div>
            <div
              class="homec-features-list__single"
              data-aos="fade-in"
              data-aos-delay="800"
            >
              <div class="homec-features-list__head">
                <div class="homec-features-list__first">
                  <div class="homec-features-list__icon">
                    <img
                      loading="lazy"
                      src="/img/financing.png"
                      style="height: 40px; width: 40px;"
                      alt="#"
                    />
                  </div>
                  <h4 class="homec-features-list__number">04</h4>
                </div>
                <div
                  class="homec-features-list__arrow  homec-features-list__arrow--three"
                >
                  <img loading="lazy" src="/img/arrow-icon.svg" alt="#" />
                </div>
              </div>
              <div class="homec-features-list__body">
                <h4 class="homec-features-list__title">Financing Easy</h4>
                <p class="homec-features-list__text">
                  Secure and Transparent Transactions
                </p>
              </div>
            </div>
            <div
              class="homec-features-list__single"
              data-aos="fade-in"
              data-aos-delay="400"
            >
              <div class="homec-features-list__head">
                <div class="homec-features-list__first">
                  <div class="homec-features-list__icon">
                    <img
                      loading="lazy"
                      src="/img/organization.png"
                      style="height: 40px; width: 40px;"
                      alt="#"
                    />
                    <h4 class="homec-features-list__number">05</h4>
                  </div>
                </div>
                <div
                  class="homec-features-list__arrow homec-features-list__arrow--one"
                >
                  <img loading="lazy" src="/img/arrow-icon.svg" alt="#" />
                </div>
              </div>
              <div class="homec-features-list__body">
                <h4 class="homec-features-list__title">
                  Effective Order Organization
                </h4>
                <p class="homec-features-list__text">
                  Effortless Tasks and Order Organization
                </p>
              </div>
            </div>
            <div
              class="homec-features-list__single"
              data-aos="fade-in"
              data-aos-delay="400"
            >
              <div class="homec-features-list__head">
                <div class="homec-features-list__first">
                  <div class="homec-features-list__icon">
                    <img
                      loading="lazy"
                      src="/img/management.png"
                      style="height: 40px; width: 40px;"
                      alt="#"
                    />
                    <h4 class="homec-features-list__number">06</h4>
                  </div>
                </div>
                <div
                  class="homec-features-list__arrow homec-features-list__arrow--one"
                >
                  <img loading="lazy" src="/img/arrow-icon.svg" alt="#" />
                </div>
              </div>
              <div class="homec-features-list__body">
                <h4 class="homec-features-list__title">
                  Simplified Order Management
                </h4>
                <p class="homec-features-list__text">
                  Easy Order Process Management
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
