{% import "templates.njk" as macros %}
{% extends "view-dashboard.njk" %}

{% block sidebar %}
  {{ macros.dashboard_sidebar("client", "quotations") }}
{% endblock %}

{% block content %}
  {% call macros.dashboard_content("Quotations", client.firstName + " " + client.lastName) %}
    <div class="quotation-navigation">
      <div class="types">
        <button class="quotation-button" active>requests</button>
        <button class="quotation-button">responses</button>
      </div>
      {# 
      <div class="statuses">
        <button class="quotation-button" style="background: antiquewhite;">
          pending
        </button>
        <button class="quotation-button" style="background: lightsalmon;">
          rejected
        </button>
        <button class="quotation-button" style="background: darkseagreen;">
          accepted
        </button>
      </div> #}
    </div>
    <div class="quotation-results">
      <table class="homec-invoice-table">
        <thead class="homec-invoice-table__head">
          <tr>
            <th class="homec-invoice-table__column1">Order ID</th>
            <th class="homec-invoice-table__column3">Request Date</th>
            <th class="homec-invoice-table__column3">Status</th>
            <th class="homec-invoice-table__column3">Tailor</th>
            <th class="homec-invoice-table__column2">Design Description</th>
          </tr>
        </thead>
        <tbody class="homec-invoice-table__body">
          {% for result in results %}
            <tr class="table-row">
              <td class="homec-invoice-table__column1">
                <p class="homec-invoice-table__text">{{ result.qr.uid }}</p>
              </td>
              <td class="homec-invoice-table__column3">
                <p class="homec-invoice-table__text">
                  {{
                    result
                    .qr
                    .createdAt
                    .toLocaleString()
                    .split(",")[0]
                    .replaceAll("/", "-")
                  }}
                </p>
              </td>
              <td class="homec-invoice-table__column2">
                <button
                  class="quotation-button status {{ result.qr.status }}"
                  style="text-align: start; padding: 0;"
                >
                  {{ result.qr.status }}
                </button>
              </td>
              <td class="homec-invoice-table__column2">
                <p class="homec-invoice-table__text">
                  {{ result.tailor.firstName }}
                  {{ result.tailor.lastName }}
                </p>
              </td>
              <td class="homec-invoice-table__column2">
                <p class="homec-invoice-table__text">
                  {{ result.design.description }}
                </p>
              </td>
              <td class="view-button">
                <button
                  class="quotation-button view-button"
                  style="background: rgba(113, 102, 240); color: white;"
                >
                  view
                </button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endcall %}

  <style>
    .quotation-navigation {
      display: flex;
      padding: 15px 0;
      justify-content: space-between;
      align-items: center;
    }

    .quotation-button {
      border: 0;
      border-radius: 0;
      background: none;
      font-variant: small-caps;
      font-weight: 500;
      font-size: 17px;
      padding: 10px;
    }

    .quotation-navigation .quotation-button {
      text-align: center;
      margin: 0;
      color: black;
      background: lavender;
    }

    .quotation-navigation .quotation-button[active] {
      color: white;
      background: rgba(113, 102, 240, 0.7);
    }

    .pending {
      color: #f2c94c;
      width: 100px;
    }

    .rejected {
      color: darksalmon;
      width: 100px;
    }

    .accepted {
      color: forestgreen;
      width: 100px;
    }
  </style>
{% endblock %}
