{% extends "base.njk" %}
{% block app %}
  {% include "includes/preloader.njk" %}
  <section class="homec-dashboard">
    {% block sidebar %}
    {% endblock %}

    {% block content %}
    {% endblock %}
  </section>

  <style>
    .homec-dashboard {
      height: 100vh;

      display: grid;
      grid-template-columns: 0.2fr 0.8fr;

      background: url(/img/hero-shape-group.svg);
    }
  </style>
{% endblock %}
