{% import "templates.njk" as macros %}
{% extends "view-dashboard.njk" %}

{% block sidebar %}
  {{ macros.dashboard_sidebar("client", "reviews") }}
{% endblock %}

{% block content %}
  {% call macros.dashboard_content("My Reviews", client.firstName + " " + client.lastName) %}
    <div class="homec-pdetails-tab--review" hx-dashboard-client-reviews>
      {% for review in reviews %}
        <div
          class="homec-testimonial homec-testimonial--review homec-border mg-top-15"
          style="
            border: 3px solid rgba(113, 102, 240, 0.6); 
            border-radius: 0;
            overflow: hidden;
          "
        >
          <div class="homec-rating--main mg-btm-15">
            <ul class="homec-rating list-none">
              {% for i in range(0, (review.rating / 2) | round) %}
                <li><i class="fa-solid fa-star"></i></li>
              {% endfor %}
              <span class="homec-primary-color" style="font-weight: 600;"
                >{{ review.rating }}/10</span
              >
            </ul>
            <span class="homec-primary-color"
              >{{ review.createdAt | daysSince | toEnglish("day") }} ago
            </span>
          </div>
          <p
            class="homec-testimonial__text"
            style="text-align: justify; font-size: 15px; line-height: 2;"
          >
            {{ review.text }}
          </p>
          <div class="homec-testimonial__bottom">
            <div class="homec-testimonial__author">
              <img
                loading="lazy"
                style="object-fit: cover;"
                src="{{ review.tailor.image }}"
                alt="
                  photo of 
                  {{ review.tailor.firstName }} 
                  {{ review.tailor.lastName }}"
              />
              <div class="homec-testimonial__author--info">
                <h5 class="homec-testimonial__author--title" style="">
                  {{ review.tailor.firstName }}
                  {{ review.tailor.lastName }}
                </h5>
                <p class="homec-testimonial__author--position">Tailor</p>
              </div>
            </div>
          </div>

          <img
            class="review-shape"
            src="/img/anim-shape-{{ [1, 2, 3] | random }}.svg"
            style="
              right: 0;
              bottom: 50%;
              opacity: .2;
              height: 200%;
              position: absolute;
              transform: translate(40%, 50%);
            "
            alt=""
          />
        </div>
      {% endfor %}
    </div>

    <div class="homec-pagination" style="padding: 15px;">
      <ul class="homec-pagination__list list-none">
        {% set page = pagination.offset / pagination.limit %}
        {% set total = (filteration.filtrate / pagination.limit) | ceil %}
        {% for i in range(0, total) %}
          <li class="{{ "active" if i === page }}">
            <a
              hx-get="/dashboard/client/reviews/{{ i }}"
              hx-boost="true"
              hx-target="body"
              hx-swap="outerHTML"
              hx-push-url="true"
              style="cursor: pointer;"
            >
              {{ (i + 1).toString().padStart(2, "0") }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endcall %}
{% endblock %}
