<img
  src="{{ user.image }}"
  alt="user profile picture"
  style="width: 100px; aspect-ratio: 1;"
/>
<ul>
  <li><b>name:</b> {{ user.firstName }} {{ user.lastName }}</li>
  <li><b>uid:</b> {{ user.uid }}</li>
  <li><b>email:</b> {{ user.email }}</li>
  <li><b>phone:</b> {{ user.phone }}</li>
</ul>
