{% extends "view-base.njk" %}
{% block app %}
  <section
    class="ecom-wc ecom-wc__full ecom-bg-cover"
    {# style="background-image: url('/img/credential-bg.html');" #}
  >
    <div class="container-fluid p-0">
      <div class="row g-0">
        <!--This is the login illustration section-->
        <div class="col-lg-6 col-12 d-none d-lg-block ">
          <div
            class="ecom-wc__inner homec-bg-cover"
            style="background-image: url('/img/welcome-bg.svg');"
          >
            <div class="ecom-wc__logo">
              <a href="/home"
                ><img src="/img/tms-logo-white-nobackground.png" alt="#"
              /></a>
            </div>
            <div class="ecom-wc__inside">
              <div class="ecom-wc__middle">
                <a href="/home"
                  ><img src="/img/landing-page-svg.jpg" alt="#"
                /></a>
                <div class="ecom-wc__countdown--title" style="font-size: 23px;">
                  Management<span style="font-size: 18px;">Platform</span>
                </div>
                <div
                  class="ecom-wc__countdown--title ecom-wc__countdown--title--v2"
                  style="font-size: 23px;"
                >
                  Organization<span style="font-size: 18px;">Tool</span>
                </div>
              </div>
              <div class="ecom-wc__footer">
                <ul class="ecom-wc__footer--list list-none">
                  <li><a href="#">Elevating Your Tailoring Experience</a></li>
                </ul>
              </div>
              <p class="ecom-wc__footer--text">
                © 2024 D-TMS | All Rights Reserved
              </p>
            </div>
          </div>
        </div>

        <!--This is the credentials section-->
        <div class="col-lg-6 col-12" style="height: 100vh; overflow-y: scroll;">
          {% include "view-auth-signup-one.njk" %}
          {% include "view-auth-signup-two.njk" %}
          {% include "view-auth-signup-three.njk" %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
