{% import "templates.njk" as macros %}
{% extends "view-dashboard.njk" %}

{% block sidebar %}
  {{ macros.dashboard_sidebar("client", "profile") }}
{% endblock %}

{% block content %}
  {%
    call macros.dashboard_content(
    "Profile",
    client.firstName + " " + client.lastName)
  %}
    <div class="content-wrapper">
      <div class="image-container">
        <img src="{{ client.image }}" alt="#" />
      </div>

      <div class="details-container">
        <h4>{{ client.firstName }} {{ client.lastName }}</h4>
        <ul class="details homec-agent-detail__list">
          <li>
            <img src="/img/agent-phone.svg" alt="#" />
            {{ client.phone }}
          </li>
          <li>
            <img src="/img/agent-email.svg" alt="#" />
            {{ client.email }}
          </li>
          <li>
            <img src="/img/agent-location.svg" alt="#" />
            {{ client.address }}
          </li>
        </ul>
        <div class="buttons">
          <button class="danger">Delete Profile</button>
          <button>Edit Profile</button>
        </div>
      </div>

      <div class="measurements-container">
        <h4>Measurements</h4>
        <div class="measurement-items">
          {% for part, measurement in client.measurements %}
            <div class="item">
              <div class="part">{{ part | dehyphenateAndCapitalize }}</div>
              <div class="measurement">{{ measurement }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endcall %}
{% endblock %}
