<div
  class="form-validation-modal"
  id="form-validation-modal"
  hx-signup-validation
>
  <div
    hx-form-validation-success
    class="form-validation-content"
    style="border: 4px solid rgb(113, 102, 240);"
  >
    <header>
      <h3
        class="ecom-wc__form-title ecom-wc__form-title__one"
        style="text-align: center"
      >
        Successful!
      </h3>
    </header>
    <p style="padding: 10px 0;">Welcome to D-TMS. Excited to have you</p>
    <button
      style="
      display: block;
      width: 100%;
      font-weight: 600;
      background: #f2c94c;
      padding: 15px;
      font-size: 20px;
    "
    >
      Go to Dashboard
    </button>
  </div>
</div>
