{% extends "view-base.njk" %}
{% block app %}
  {% include "preloader.njk" %}
  <section class="homec-dashboard">
    {% block sidebar %}
    {% endblock %}

    {% block content %}
    {% endblock %}
  </section>

  <style>
    .homec-dashboard {
      height: 100vh;

      display: grid;
      grid-template-columns: 0.25fr 0.75fr;

      background: white;
    }
  </style>
{% endblock %}
