{% import "macros/dashboard.njk" as dashboard %}
{% extends "pages/dashboard/dashboard-template.njk" %}

{% block sidebar %}
  {{ dashboard.sidebar() }}
{% endblock %}

{% block content %}

  {{ dashboard.header("Response Details", tailor) }}

  <section class="dtms-details">
    <div class="dtms-details-image">
      <img src="{{ design.image }}" alt="{{ design.title }}" />
    </div>

    <div>
      <div>
        <h5>Response Info</h5>
        <ul>
          <li>ID: {{ tailorResponse.uid }}</li>
          <li>
            Proposed Price: N{{ tailorResponse.proposedPrice | formatPrice }}
          </li>
          <li>
            Proposed Completion Date:
            {{ tailorResponse.proposedCompletionDate.toLocaleString() }}
          </li>
          <li>
            Status:
            <button
              class="dtms-core-button dtms-{{ tailorResponse.status }}-bg"
            >
              {{ tailorResponse.status }}
            </button>
          </li>
        </ul>
      </div>

      <div>
        <h5>Design Info</h5>
        <ul>
          <li>Title: {{ design.title }}</li>
          <li>Description: {{ design.description }}</li>
        </ul>
      </div>

      <div>
        <h5>Client Info</h5>
        <ul>
          <li>Name: {{ client.firstName }} {{ client.lastName }}</li>
          <li>Number: {{ client.phone }}</li>
          <li>Email: {{ client.email }}</li>
          <li>Address: {{ client.address }}</li>
          <li>Measruements:</li>
          <ul>
            {% for part, measurement in (client.measurements | parse) %}
              <li>{{ part }}: {{ measurement }}</li>
            {% endfor %}
          </ul>
        </ul>
      </div>
    </div>
  </section>

  <style></style>
{% endblock %}
